body {
  background: url("elements/contact/contact-bg.png") no-repeat;
  background-size: 100vw 103vh;
  height: max-content;
  background-color: #a0abff;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 22.3vw;
  right: 0;
}

.container img {
  display: block;
  margin: auto;
  margin-top: -150%;
  width: 8vw;
}

.phone {
  display: block;
  margin: auto;
  width: 60vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.phone-container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 22%;
  z-index: -1;
  position: absolute;
}
