main {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 1rem;
    padding: 2rem;
    height: 100vh;
      cursor: url("elements/hairbrush-cursor.png"), auto;
}
.menu-screen-container .menu-full {
    width: 33vh;
    min-width: 150px;
    margin-top: -2.5vh;
}

iframe {
    width: 100%;
    height: 90vh;
    border: none;
    border-radius: 20px;
}

.menu {
    position: relative;
    width: fit-content;
    border: black solid 1px;
}

.menu-elems img {
    height: 100%;
    width:700%;
}


.menu-elems {
            display: inline-grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap:10px;
            grid-row-gap:2.5rem;
            z-index: 1;
            position: absolute;
            left:2vh;
            top: 0vh;
            /* background-color: aliceblue; */
            border: 1px solid red;
            padding: 4vh;
            min-width: 100px;
            width: 21vh;
            height: 84vh;
            justify-content: center;
            align-items: center;
        }
    
        .div1 {
            grid-area: 1 / 1 / 2 / 2;
        }
    
        .div2 {
            grid-area: 2 / 1 / 3 / 2;
        }
    
        .div3 {
            grid-area: 3 / 1 / 4 / 2;
        }
    
        .div4 {
            grid-area: 4 / 1 / 5 / 2;
        }
    
        .div5 {
            grid-area: 5 / 1 / 6 / 2;
        }