body {
  overflow-y: hidden;
  overflow-x: scroll;
  background-image: radial-gradient(#fedaff, #a373ff);
  background-attachment: fixed;
}

.arrow {
  position: fixed;
  width: 25vh;
  padding: 1%;
}

.grid {
  display: inline-grid;
  /* grid-template-columns: repeat(9, 1fr); */
  grid-auto-flow: column;
  gap: 3rem;
  padding: 5%;
}

.wikibook {
  width: 60vh;
}

.avant-garden {
  width: 44vh;
}

.record-label {
  width: 65vh;
}

.blossom {
  width: 60vh;
  padding-left: 10%;
}

.y2k {
  width: 80vh;
}

.imaginevents {
  width: 70vh;
  margin-top: -5%;
  margin-left: -10%;
}

.undress {
  width: 60vh;
  margin-top: 20%;
  margin-left: -7%;
}

.thesis {
  width: 62vh;
  margin-left: 10%;
}

.capitol {
  width: 65vh;
  /* margin-left: 10%; */
}

.grid img:hover {
  fill: #a373ff;
}

.arrow-n {
  position: fixed;
  width: 25vh;
  padding: 1%;
  right: 0vh;
}
