body {
  overflow-y: hidden;
  /* overflow-x: scroll; */
  background-image: radial-gradient(hsl(299, 38%, 74%), #a373ff);
  background-attachment: fixed;
  cursor: url("elements/hairbrush-cursor.png"), auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: hsla(285, 50%, 50%, 0.441);
  box-shadow: inset 1px 1px 5px rgba(165, 41, 179, 0.2);
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-image: url(elements/scroll-bar.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: grab;
  z-index: 2;
  border-radius: 200px;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.arrow {
  position: fixed;
  width: 25vh;
  padding: 1%;
  cursor: url("elements/pointer-cursor.png"), auto;
}

.grid {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 3rem;
  padding: 5%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: none;
}

.wikibook {
  width: 60vh;
}

.avant-garden {
  width: 44vh;
}

.record-label {
  width: 65vh;
}

.blossom {
  width: 60vh;
  padding-left: 10%;
}

.y2k {
  width: 80vh;
}

.imaginevents {
  width: 70vh;
  margin-top: -5%;
  margin-left: -10%;
  cursor: not-allowed;
}

.undress {
  width: 60vh;
  margin-top: 20%;
  margin-left: -7%;
}

.thesis {
  width: 62vh;
}

.capitol {
  width: 85vh;
  margin-left: -5%;
  overflow: visible !important;
}

.grid img {
  background-color: transparent;
  clip-path: inset(-10px); /* Expands the visible area */
  contain: paint;
  transition: 0.5s;
}

a {
  cursor: url("elements/pointer-cursor.png"), auto;
}

.grid img:hover {
  filter: drop-shadow(1px 1px 20px rgb(255, 200, 235));
  overflow: visible !important;
  transition: 0.3s ease-in-out;
  scale: 105%;
}

.arrow-n {
  position: fixed;
  width: 25vh;
  padding: 1%;
  right: 0vh;
  cursor: url("elements/pointer-cursor.png"), auto;
}
