body {
    background-color: #c0a9ff;
    background-size: cover;
    height: 200vh;
    overflow: hidden;
}
.header {
    width: 100vw;
    height: 15vh;
    padding: 0%;
    position: fixed;
    left: -0%;
    top: -3%;
}

.title {
    position: fixed;
    /* width: 30vw; */
    height: 8vh;
    z-index: 1;
    left: 2.5vw;
    top: 1vh;
}

.menu-full {
    position:fixed;
    height: 85vh;
    top: 14vh;
    left: 2vh;
}

.logo {
    position: fixed;
    width: 7vw;
    z-index: 3;
    right: 4vh;
    top: 0.5vh;
}

iframe {
    width: 84%;
    height: 41%;
    border: none;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 14vh;
    visibility: hidden;
}

.menu-elems {
    display: grid;
    grid-template-rows: repeat (5, 1fr);
    position: absolute;
    left: 6vh;
    top:20vh;
    z-index: 2;
    gap: 5.2vh;
}
.menu-elems img {
    width: 20vh;
    transition: 0.5s ease-out opacity;
    cursor: pointer;
} 

.menu-elems img:hover {
    opacity: 0%;
    filter: blur(10px);
    transition: 0.5s ease-in;
}