body {
  background: url("elements/work-bg.png") no-repeat;
  background-size: 100vw 103vh;
  height: 100vh;
  background-color: #e0bfe1;
  overflow: hidden;
  cursor: url("elements/hairbrush-cursor.png"), auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100vh;
  width: 50vh;
  grid-gap: 5vw;
  width: fit-content;
  margin: auto;
  /* left: 15vw;
    top: 35vh; */
}

.projects,
.motion,
.web {
  display: flex;
  width: 20vw;
  align-items: center;
  justify-items: center;
}

a {
  cursor: url("elements/pointer-cursor.png"), auto;
}
