body {
    background-color: #c0a9ff;
    background-size: cover;
    height: 100vh;
}
.header {
    width: 100vw;
    height: 15vh;
    padding: 0%;
    position: fixed;
    left: -0%;
    top: -3%;
}

.title {
    position: fixed;
    /* width: 30vw; */
    height: 8vh;
    z-index: 1;
    left: 2.5vw;
    top: 1vh;
}

.container {
    position: fixed;
}

.menu {
    display: grid;
    position: fixed;
    top: 17vh;
    left: 1vw;
    grid-gap: 4.2%;
    z-index: 2;
}

.menu-about,
.menu-work,
.menu-contact,
.menu-closet,
.menu-music {
        width: 21vh;
    transition: 0.5s ease-out;
    cursor: pointer;
}

/* .menu-bg {
    position: fixed;
    top: 11%;
    z-index: -1;
    width: 14vw;
    height: 88vh;
    left: -0.1%;
} */

.menu-full {
    position: fixed;
    height: 85vh;
    top: 14vh;
    left: 0vw;
}

.menu-elems {
    position: fixed;
    display: grid;
    left: 2.6vw;
    top: 20.4vh;
    /* opacity: 50%; */
    grid-gap: 8.2%;
}

.menu-about:hover,
.menu-work:hover,
.menu-contact:hover,
.menu-closet:hover,
.menu-music:hover {
    opacity: 0%;
    transition: 0.5s ease-out;
    scale: 120%;
    rotate: 5deg;
}

.logo {
    position: fixed;
    width: 7vw;
    z-index: 2;
    right: 2vw;
    top: 0.5vh;
}