img {
    width: 100%;
}

.bed {
    position: absolute;
    width: 90vh;
    left: 50vh;
    top: 10vh;

}

.wall {
    perspective: 100vh;
}

.right-wall {
    position: absolute;
    background-color: rgb(236, 233, 226);
    width: 70vh;
    height: 67vh;
    transform: rotate3d(0.2, -1, 0, 30deg);
    left: 130vh;
    top: -14vh;
    perspective: 10px;

}

.wall2 {
    perspective: 700vh;
}

.back-wall {
    position: absolute;
    background-color: rgb(247, 245, 241);
    width: 200vh;
    height: 62vh;
    transform: rotate3d(0, 1, 0, 60deg);
    left: -16vh;
    top: -9vh;

}

.floor-container {
    perspective: 1000vh;
    perspective-origin: 20% 15%;
}

.floor {
    position: absolute;
    background-image: linear-gradient(rgb(191, 116, 162), rgb(203, 148, 182), rgb(191, 116, 162));
    /* background-color: rgb(95, 71, 141); */
    transform: rotate3d(-6, 1, 2.7, 85deg);
    width: 100vh;
    height: 220vh;
    left: 40vh;
    top: -40vh;
}